body {
    font-family: 'Titillium Web', sans-serif;
    
}

h1 { font-size:60px; font-weight: 600; line-height: 80px;}
h2 {font-size: 48px; margin-bottom: 30px;}
h5 {margin-bottom: 0px;}

a:hover {
    text-decoration: none;
}

a ion-icon {
    font-size: 22px; color: #ffffff;
}

p{
    
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom:0;
}

section {
    padding: 100px 0;
}

.g-light-grey { background-color:#f5f5f5;}
.bg-dark { background-color: #1a1a1a !important;}

.topmargin-xs{ margin-top: 15px}
.topmargin-sm{ margin-top: 30px}
.topmargin-lg{ margin-top: 60px}
.topmargin-xx{padding-top: 60px;}

.text-center {
    text-align: center;
}


.btn {
    font-size:14px;
    padding: 15px;
    border-radius: 2px;
    display: inline-block;
    
}
.btn-light{
    background-color:#ffffff;
    color:#1a1a1a;
    border: 2px solid #ffffff;
}

.btn-light ion-icon {
    color:#1a1a1a;
}

.btn-dark {
    background-color: #1a1a1a;
    color: #ffffff;
    border: 2px solid #1a1a1a;
    
}

.btn-dark:hover {
    background-color: #1a1a1a;
}

.btn-transparent {
    background-color: transparent;
    color: #ffffff;
    border :2px solid #ffffff;
}

.btn-transparent:hover {
    color: #ffffff;
    border :2px solid #ffffff;
    background-color: transparent;
}

.btn ion-icon {font-size: 20px; margin-left: 5px; height: 12px;padding-top: 5px;}

.full-width {
    width: 100%;
}

.text-dark{color:black;}

.divider{ border-bottom: 2px solid #f5f5f5; }

.form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
    height: auto;
}

.form-control:focus {
    border: 1px solid #1a1a1a;
    box-shadow: none;
    outline: none;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
    min-width: 1200px;
}
.nav-link{color: #1a1a1a;}
.nav-link:hover{color:#1a1a1a;
}
.logo{
    min-width: 280px;
    max-width: 250px;
    
}
.navbar-toggler {font-size: 30px;}
.navbar-toggler:focus {outline:none;}

#hero {
    background-image: url('fotos/setup.jpg');
    background-size: cover;
    padding-top: 0px;
    margin-top:104px;
    min-height: 800px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);

}
#hero h1{
    margin-top: 50px;
    color: #ffffff;
    text-shadow: -1px -1px 0px white,
    3px 3px 0px #999999,
    6px 6px 0px #1a1a1aaf;
}

#hero p{
    color: #ffffff;
    margin-top:155px;
    padding-top: 120px;
    text-shadow: rgba(0, 0, 0, 0.705) 0px 3px 2px;
}

.content-center{
max-width: 800px;
margin: 0 auto 60px auto;
text-align: center;
}

.portfolio-container{
    position: relative;
    overflow: hidden;
    margin:10px 0;
    border-radius: 2px;
}

.portfolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.portfolio-container:hover img {
    -moz-transforms: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.portfolio-details h2 { margin-bottom: 0px; }

.portfolio-details a h2, .portfolio-details a p{ color: #ffffff; }

.b { border-radius: 5px; }
.h { min-height: 360px; }

.member-container { position: relative; margin: 10px 0; }

.member-details {
    position: absolute;
    color: #ffffff;
    bottom: 0px;
    left: 20px;
}

.pricing-container { margin: 15px 0; }

.plans {
    padding: 50px 80px;
    border-radius: 2px;
    min-width: 450px;
}

.plan-light {
    background-color: #ffffff;
    border: 2px solid #1a1a1a;
}

.plan-dark {
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
    color: #ffffff;
}

.plans h2 {
    font-size:70px;
    font-weight: 600;
}

.plans span { font-size: 20px; }

.plans ul {
    list-style-type: square;
}

.carousel {
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
}

.carousel p {
    font-size:24px;
    font-weight: 400;
    color: #1a1a1a;
}

.carousel-indicatiors li {
    background-color: #1a1a1a;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
}

.carousel-control-next,.carousel-control-pre {
    color: #ffffff;
    opacity: 1;
    width: 5%;
}

.control-buttom {
    background-color:transparent;
    padding: 10px;
    font-size: 20px;
}

.carousel-control-prev {
    background-color:transparent;
    opacity: initial;
    color:black;
    width: min-content;
}

.control-button ion-icon{
    color: black;
    background-color:transparent;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.carousel-container {
    max-width: 80px;
    margin: 0 auto;
}

.rating ion-icon {
    color: #ffb944;
    font-size: 26px; 
}

.carousel-item  {
    padding-left: 15px;
    padding-right: 15px;
}

.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}

.textimonial-user h6 { margin-bottom: 0px; }

.testimonial-user span { font-size: 12px; }

.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: center;
}

#footer {
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}

#footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

@media (max-width: 575.98px) { 
    h1 {font-size:40px; line-height: normal;}
    .plans {min-width: unset; padding: 40px;}
    .portfolio-details h2 { font-size: 32px;}
    .navbar { min-width: 200px; }
    .carousel-indicatiors p {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }   
}    

@media (min-width: 576px) and (max-width: 767.98px) {  
    .navbar { min-width: 200px; }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .plans { min-width: unset; padding: 40px 20px;}
    .portfolio-details h2 { font-size:30px; }
    .navbar { min-width: 700px; }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
.navbar { min-width: 900px; }
}

@media (min-width: 1200px) { }